@import "../_variables";

$color: #9c9c9c;
.insignia {
  .filter {
    float: left;
    width: 2%;
    height: 100%;
    padding: 0;
    margin: 3px 0 0;
    font-size: 16px;
    .inner-filter {
      vertical-align: middle;
      .fa {
        color: $color !important;
      }
    }
  }

  .insignia-wrapper {
    display: inline-block;
    width: 98%;
    margin: 0;
    padding: 0;
  }
  .nsg-editor {
    background-color: transparent;
    .nsg-input {
      border-style: none;
      background-color: transparent;
      &:focus {
        outline: 0;
      }
    }
    .nsg-tag {
      color: $color;
      border-style: solid;
      border-width: 2px;
      padding-left: 4px;
      padding-right: 4px;
      &:hover {
        border-color: black !important;
        color: black !important;
      }
      .nsg-tag-remove {
        margin-left: 8px;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &:after {
          background-color: transparent;
          content: '';
          padding: 0;
        }
      }
    }
  }
}
