@import "../variables";

.custom-panel {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: $bottom-border-height solid $tertiary;
  p {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 20px;
    .title-text {
      margin-left: 6px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
