.pomodoro-controls {
  font-size: 14px;
  .play-button {
    display: inline-block;
    .fa-stack {
      .fa {
        cursor: pointer;
      }
      .fa-pause {
        font-size: 0.9em;
      }
      .fa-play {
        position: relative;
        left: 0.1em;
        bottom: 0.04em;
      }
    }

  }
}

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}