/*
Styles for the Home route.
*/
@import "../variables";

.pomodoro-timer {
  .num {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    .divisor {
      font-size: 22px;
      display: inline-block;
    }
    .adjusted {
      display: inline-block;
      position: relative;
      top: 5px;
      right: 2px;
      .dividend {
        font-size: 12px;
        display: inline-block;
      }
      .slash {
        display: inline-block;
      }
    }
    .description {
      margin-top: 5px;
      font-weight: bold;
    }
  }
}