@import "../responsive";
@import "../../../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

.seeker-wrapper {
  text-align: center;
  .seeker-overlay {
    display: inline-block;
    overflow: hidden;
    @include breakpoint('large') {
      width: 500px;
    }
    .svg {
      display: inline-block;
      @include breakpoint('large') {
        width: 1000px;
      }
      position: relative;
      transition: none !important;
    }
  }
}
