.spinner-wrapper {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;

  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }
  &.vertically-centred {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
  }
}