/*
Styles for the Home route.
*/
@import "../_responsive";
@import "../variables";

#home {
  .timer-row {
    text-align: center;
    .timer {
      display: block;
      font-size: 80px;
      .segment {
        &:focus {
          outline: none;
        }
      }
    }
  }
}