@import "../variables";

$padding: 20px;

#tasks {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.navbar {
  #filters {
    margin-top: 12px;
    font-size: 18px;
    text-align: right;
    color: white;
    #inner-filters {
      .filter {
        display: inline-block;
        cursor: pointer;
        margin-right: 18px;
        &:last-child {
          margin-right: 0 !important;
        }
        i {
          color: white;
        }
        &:hover {
          i {
            color: black;
          }
        }
      }
    }

  }
}

.task {
  background-color: white;
  margin-bottom: 20px;
  padding-top: $padding;
  padding-right: $padding;
  padding-left: $padding;
  padding-bottom: $padding - $bottom-border-height;
  border-bottom: $bottom-border-height solid $tertiary;
  position: relative;
  cursor: pointer;
  .description {
    border: 1px dotted black;
    margin-top: 20px;
    padding: 10px;
  }
  .title-wrapper {
    padding: 5px;
    .title {
      &:focus {
        outline: 0;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 0;
    top: $padding;
    margin-right: 20px;
    i {
      font-size: 20px;
      font-weight: normal;
      z-index: 1000;
      &.done, &.save {
        color: green;
        margin-right: 10px;
      }
      &.cancel, &.discard {
        color: $primary;
      }
      &:hover {
        color: black;
      }
    }
  }
  .tag {
    margin-left: 6px;
  }
  .tag-asana {
    width: 12px;
    position: relative;
    top: -1px;
  }
}
