$alt1: rgb(232, 132, 107);
$alt2: rgb(22, 82, 142);
$alt3: rgb(229, 75, 75);
$alt4: rgb(162, 197, 191);
$alt5: rgb(22, 124, 128);
$alt6: rgb(0, 130, 200);
$alt7: rgb(114, 97, 110);

$brand-color:white;
$link-color: white;
$navbar-color: #F0F0F0;

.colour1 {
  background-color: $alt1;
}

.colour2 {
  background-color: $alt2;
}

.colour3 {
  background-color: $alt3;
}

.colour4 {
  background-color: $alt4;
}

.colour5 {
  background-color: $alt5;
}

.colour6 {
  background-color: $alt6;
}

.colour7 {
  background-color: $alt7;
}