@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "variables";

@mixin htmlAndBody {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

html {
  @include htmlAndBody();
  body {
    @include htmlAndBody();
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    background-color: $background-color;
  }
}