$transition-time: 0.2s;
@mixin transitions() {
  -webkit-transition: all $transition-time ease;
  -moz-transition: all $transition-time ease;
  -o-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

.example-enter {
	animation: moveToTop .6s ease both;
}

.example-enter.example-enter-active {
	animation: moveToTop .6s ease both;
}

.example-leave {
	animation: moveToBottomFade .7s ease both;
}

.example-leave.example-leave-active {
	animation: moveToBottomFade .7s ease both;
}

