/*
Point of entry for scss bundling
*/
// Moving bootstrap to styles.js speeds up considerably.
// In our scss, we can then just import individual bootstrap components
// when necessary. The downside to this is that we can end up with duplication of styling in our bundle.
// If doing tons of bootstrap imports within your scss you should uncomment the below and remove bootstrap
// from scripts/styles/vendor.js
//@import "../../vendor/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "variables";


html {
  body {
    #wrapper {
      padding-top: $navbar-height + 20px;
    }
    a {
      outline: none !important;
      &:active {
        outline: none !important;
      }
      &:hover {
        outline: none !important;
      }
    }
    input::-moz-focus-inner {
      border: 0;
    }
  }
}

@import "shared";
@import "routes/home";
@import "routes/settings";
@import "routes/tasks";
@import "components/tagger";
@import "components/panel";
@import "components/spinner";
@import "components/seeker";
@import "components/button";
@import "components/modal";
@import "nav";
@import "colorPicker";
@import "asana";
@import "components/pomodorTimer";
@import "components/pomodoroControls";
@import '../../vendor/spinkit/scss/spinners/1-rotating-plane';


